body {
	background-color: lightslategray;
	font-size: 12px;
	padding: 5vw;
	border-radius: 20px;
	text-align: center;
}

.box {
	background-color: black;
	text-align: center;
	font-size: 30px;
	width: 150px;
	length: 100px;
	border-radius: 50px;
	animation-duration: 20s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

div img {
	text-align: center;
	height: 60vw;
	width:  40vw;
}

h1 {
	text-align: center;
	font-size: 20px;
	font-style: italic;
	color: black;
 }

p {
 text-align: center;
 font-size: 30px;
 color: black;
 font-style: oblique;
 padding: 10vw;
 border-radius: 20px;
}

div {
    cursor:progress;
}

footer {
	background-color: lightslategray;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	text-align: center;
}

footer:hover{
	font-size: 20px;
	background-color: lightskyblue;
	display: flex;
	color: gray;
	padding: 0vw;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

footer button {
	padding: 1vw;
	display: flex;
	background-color: lightskyblue;
	border-radius: 50px;
	margin: 4vw;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

button:hover {
	display: flex;
	background-color: greenyellow;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
		padding: 50px;
	}

75%{
 	font-size: 300px;
 	margin left: 25%;
 	width: 150%;
 }

to {
	margin-left: 0%;
	width: 100%;
	padding: 50px;
	}
}

h1 {
	background-color: lightslategray;
	position: sticky;
	animation-name: fadeInOut, moveLeft300px, bounce; 
	animation-duration: 20s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.slidein {
	animation-duration: 10s;
	animation-namne: slidein; 
	animation-iteration-count: 3;
	animation-driection: alternate;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
		padding: 50px; 
}

to {
	margin-left: 0%;
	width: 100%;
	padding: 50px;
	}
}
